streamlit
transformers
pdf2image
fpdf
torch
sentencepiece
Pillow
streamlit
pillow
pdf2image
fpdf
pytesseract
streamlit
pillow
fpdf
pytesseract
PyMuPDF
streamlit
pillow
pytesseract
PyMuPDF
